@import "./utils/_variables";

* {
  font-family: $font-primary;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background-color: $color-black;
  color: $color-primary;
  font-family: $font-secondary;
  p {
    @extend .footer;
  }
}

.nav-link {
  @extend .footer;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
  font-variant: small-caps;
  &:hover {
    color: $color-secondary;
  }
}

.bg-black {
  background-color: $color-black;
}

.slider {
  background: url(../assets/img/spa.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: 20%;
  width: 100%;
  h3 {
    font-family: $font-secondary;
    font-size: 2em;
    font-weight: 700;
    //padding-top: 1em;
    //padding-left: 3em;
  }
}

.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: $color-primary;
  color: $color-black;
  font-weight: 700;
  border-radius: 2em;
  &:hover {
    background-color: $color-secondary;
  }
}

.card:hover {
  box-shadow: -13px 9px 45px -5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -13px 9px 45px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -13px 9px 45px -5px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.contact {
  background: linear-gradient(#fd9c2d 0%, #56ebff 70%);
}

h4 {
  font-family: $font-secondary;
  padding-bottom: 0.5em;
}

#register {
  display: none;
  &.open {
    display: block;  
  }
}

