$color-primary: #56ebff !important;
$color-secondary: #fd9c2d !important;
$color-tertiary: #ff0000 !important;
$color-white: #fff !important;
$color-black: #000 !important;
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Lobster', cursive;