<html lang="en  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css" />
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>Prosiaczek</h1>
    <main></main>
    <section id="demo"></section>
    <section id="data"></section>

    <script>
      var user = {}
      user = {'id' : 123, 'name' : 'First Name'}
      res.render('index', {user : user});
      Handlebars.registerHelper('json', function(context) {
    return JSON.stringify(context);
});
      myView = new myView({user : {{user}});
    </script>
    <h1>{{user.name}}</h1>

    <!--
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
 <script src="./src/js/Home2.js"></script>
-->
    <script src="../src/js/functions.js"></script>
    <script type="module" src="./src/js/app.js"></script>
       <script src="./src/js/Home.js"></script>
   
  </body>
</html>