{{>_head}}

{{>logging}}
    <div class="text-center">
        <a href="" class="hide" data-toggle="#register">Zarejestruj mnie!</a>
    </div>

<div id="register">
{{>register}}
</div>

<script src="./src/js/toogle.js"></script>
{{>_foot}}
{{!-- {{   {{> message}}    }} --}}