{{>_head}}

<section class="rooms">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
            <h1>Zapraszamy do naszych pokoi!</h1>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card bg-light mb-2">
                    <div class="card-body">
                        <img src="/assets/img/unary.jpeg" class="img-fluid" alt="unary">
                    </div>
                    <h5>Pokój Unarny</h5>
                    <p>170,00 zł</p>
                    <button class="btn btn-info">Szczegóły</button>
                    <button class="btn btn-success">Dodaj do koszyka</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card bg-light mb-2">
                    <div class="card-body">
                        <img src="/assets/img/binary.jpeg" class="img-fluid" alt="binary">
                    </div>
                    <h5>Pokój Binarny</h5>
                    <p>240,00 zł</p>
                    <button class="btn btn-info">Szczegóły</button>
                    <button class="btn btn-success">Dodaj do koszyka</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card bg-light mb-2">
                    <div class="card-body">
                        <img src="/assets/img/tertiary.jpg" class="img-fluid" alt="tertiary">
                    </div>
                    <h5>Pokój Trójkowy</h5>
                    <p>290,00 zł</p>
                    <button class="btn btn-info">Szczegóły</button>
                    <button class="btn btn-success">Dodaj do koszyka</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card bg-light mb-2">
                    <div class="card-body">
                        <img src="/assets/img/quaternary.jpeg" class="img-fluid" alt="quaternary">
                    </div>
                    <h5>Pokój Czwórkowy</h5>
                    <p>340,00 zł</p>
                    <button class="btn btn-info">Szczegóły</button>
                    <button class="btn btn-success">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <script src="./src/js/Rooms.js"></script> -->
{{>_foot}}