  {{>_contact}}

    <section class="footer bg-black">
      <div class="col-12 text-center py-4 text-muted">
        <p id="withTitle">Copyright © 2022 {{title}}. All rights reserved.</p>
      </div>
    </section>

  {{>_scripts}}
  </body>
</html>