<header>
  <nav class="navbar navbar-expand-sm bg-black navbar-dark">
    <div class="container">
      <a href="/" class="navbar-brand nav-link">
        <img src="../assets/img/logo.png" alt="Logo" style="width:40px;" /><span
          class="pl-4 footer"
        >Strona Główna</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggler="collapse"
        data-bs-target="#mainmenu"
      >
        <span class="navbar-toggler-icon"><i
            class="fas fa-hamburger"
          ></i></span>
      </button>
      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/rooms" class="nav-link">Pokoje</a>
          </li>
          <li class="nav-item">
            <a href="/treatments" class="nav-link">Zabiegi</a>
          </li>
          <li class="nav-item">
            <a href="/cart" class="nav-link">🛒</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>