<section class="register">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <h1>{{{page.hero.pageTitle}}}</h1>
        <h1>Zarejestruj się!</h1>
        <form action="/register" method="POST">
          <div class="form-outline m-4">
            <input
              type="name"
              id="name"
              class="form-control bg-light"
              placeholder="Imię"
              required
            />
          </div>
          <div class="form-outline m-4">
            <input
              type="surname"
              id="surname"
              class="form-control bg-light"
              placeholder="Nazwisko"
              required
            />
          </div>
          <div class="form-outline m-4">
            <input
              type="email"
              id="email"
              class="form-control bg-light"
              placeholder="Adres email"
              required
            />
          </div>
          <div class="form-outline m-4">
            <input
              type="password"
              id="password"
              class="form-control bg-light"
              placeholder="Hasło"
              required
            />
          </div>
          <button type="submit" class="btn btn1">Zarejestruj mnie</button>
        </form>
      </div>
    </div>
  </div>
</section>